p {
    color: #E6C39C;
    font-size: 20px;
    text-decoration: none;
    
}

.cell {
    cursor: cell;
}

    
a {
    color: #EA6F6F;
    text-transform: none;
}   
a:visited {
  color: cyan;
}

a:hover {
   text-transform: underline;
  font-size: 100%;
 
}

a:active {
  background-color: #EA6F6F;
}

h1 {
color: #83652f;
font-family: Typefesse;
font-size: 45px;
text-align: center;
letter-spacing: 4px;
margin: 5px;
padding: 10px;
text-shadow: 2px 2px 5px darkorange;

}

body {
    
    font-size: 30px;
    line-height: 1.5;
    letter-spacing: 3px;
    word-spacing: 5px;
    color: #83652f; 
    background-color: #dcf8c1;
    font-family: Barlow;
    position: relative;
    
}

/* Arrondie la bordure du fond des postes sur la page d'accueil */

#wpsp-1768 .wp-show-posts-inner {
    border-radius: 10px;
}




.pills-module--pills--_tYOw {
    display: flex;
    width: auto;
    text-align: center;
    align-self: flex-start;
    text-transform: none;
    max-height: 44px;
    font-size: 35%;
    bottom: 20%;
    right: 20%;
    color: #83652f;
    
}


navbar {
    background-color:  #83652f;
    color: #e6c39c;
    text-align: center;
    font-size: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-radius: 0.65em 0.65em 0.65em 0.65em;
    position: relative;
    bottom: 100%;
    right: 100%;
    left:0.2%;
    width: 2%;
    max-width: 30%;
    min-width: 40%;
    float:none; 
    display: inline-block;
}



a {
    color: #EA6F6F;
    cursor: cell;
    text-transform: none;
    
}   
a:visited {
  color: darkorange;
}

a:hover {
   text-transform: none;
  font-size: 100%;
 
}

a:active {
  background-color: #EA6F6F;
}

webkit-scrollbar {
scroll-behavior: smooth;
}

.center { display: flex; align-items: center; justify-content: center; }

