@media all and (max-width: 480px)

    .co2 {float:none; width: 30%; margin-left: 5%;
}

@media all and (min-width: 781px) and (max-width: 979px)
.co2 {float:none;

}

@font-face {
    
    font-family: 'Typefesse_Claire-Obscure';
    src: url('./Typefesse_Claire-Obscure.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    

}

@font-face {
    
    font-family: 'Chillax';
    src: url('./Chillax-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    

}


      .fancy-undeline {
        background-image: linear-gradient(120deg, #2BC0E4,#EAECC6 100%);
        background-repeat: no-repeat;
        background-size: 100% 0.3em;
        background-position: 0 80%;
        transition: background-size 0.25s ease-in;
      }

      .fancy-undeline:hover {
        background-size: 100% 88% !important;
      }
    





body {
    
    font-size: 30px;
    line-height: 50px;
    color: #E6C39C; 
    background-color: #230311;
    font-family: 'Chillax', Geneva, Verdana, sans-serif, monospace;
    position: relative; 
    text-shadow: 0.5px 0.5px 1px rgb(248, 207, 207);
    margin-left: 1.5%; margin-top: 0.5; margin-bottom: 0.5; margin-right: 1.5;
    border-radius: 15px;
background: linear-gradient(45deg, #230311, #b8966f);
box-shadow:  20px -20px 60px #230311,
             -20px 20px 60px #ceab75;
}




p {
    color: #E6C39C;
    font-size: 20%;
    text-decoration: none;
    margin: auto;

}

.cell {cursor: cell;}


a {
    color: #EA6F6F;
    transition-property: color;
    text-decoration: none;
    margin: auto;
    font-family: 'Chillax';

    }   


a:visited {
  color: #32daa5;
}

a:hover {
   text-transform: none;
   
   color: rgb(255, 0, 179);
}







h1 {
color: #e6c39c;
font-family: Typefesse_Claire-Obscure;
font-size: 45px;
max-width: auto;
min-width: 50%;
text-align: center;
letter-spacing: 4px;
margin: auto;
margin-right: auto;
padding: auto;
float:none; width: auto; margin-left: auto;
    
}


    



img {
    width: auto;
    max-width: auto;
}



.pills-module--pills--_tYOw {
    display: flex;
    width: auto;
    text-align: center;
    align-self: flex-start;
    text-transform: none;
    max-height: 44px;
    font-size: 35%;
    bottom: 20%;
    right: 20%;
    color:cornsilk;
    
}


.bordered {
    border: 3% solid;
}

navbar {
    background-color: #41414b;
    color: #e6c39c;
    text-align: center;
    font-size: 15%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 1.5%;
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-radius: 0.65em 0.65em 0.65em 0.65em;
    position: relative;
    bottom: 100%;
    right: 100%;
    left:0.2%;
    width: 2%;
    max-width: 30%;
    min-width: 40%;
    float:none; 
    display: inline-block;
}

.container { width: 900px; 
margin: 0px auto 0px auto; 

}


a {
    color: #EA6F6F;
    cursor: cell;
    text-transform: none;
    
}   
a:visited {
  color: #3291da;
}

a:hover {
   text-transform: none;
  font-size: 100%;
 
}



